.marker-floater {
  position: fixed;
  display: flex;
  top: 5rem;
  left: 0.75rem;
  z-index: 999;
  color: rgba(0, 170, 213, 1);
  cursor: pointer;
<<<<<<< HEAD
=======
  .fa-solid {
    font-size: 1.5em;
    line-height: 0.05em;
    vertical-align: -0.075em;
  }
>>>>>>> 3e706eb2933b3ab0a0f5ca3875fa7760917ca43d
}
