.marker-floater {
  position: fixed;
  display: flex;
  z-index: 999;
  cursor: pointer;
}

.floater-recenter {
  color: rgba(0, 170, 213, 1);
  top: 7.5rem;
  left: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  .fa-solid {
    font-size: 1.5em;
    line-height: 0.05em;
    vertical-align: -0.075em;
  }
}

.leaflet-tooltip-pane {
  // z-index: 575;
}

.leaflet-marker-pane {
  z-index: 675;
}

.leaflet-tooltip {
  pointer-events: auto;
  cursor: pointer;
  padding: 0.125rem 0.2rem;
  border: none;
}

.leaflet-tooltip-bottom {
  margin-top: 4px;
  &:before {
    margin-top: -10px;
  }
}

.tooltip-body {
  font-family: "Source Sans Pro";
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.065rem;
  [data-star] {
    font-size: 0.6rem;
    place-self: center;
  }
}
